<link rel=stylesheet href=//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css>
<div style='padding:10px'>
    <h4>GreekWalls - Fraternity & Sorority Wall Graphics</h4>
    <h4>Thank you for signing up!</h4>
    <% ref_url = "#{$HOST}/?ref=#{@user.referral_code}" %>
    Your url for sharing <a href="<%= ref_url %>"><%= ref_url %></a><br>
    Ask your friends to signup via this url.<br>
    Share it via facebook: <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(ref_url) %>" style="outline: 0; border: 0;text-decoration:none;" target="_blank">
    <img src="<%= $HOST %><%= asset_path "refer/fb.png" %>" alt="Share on Facebook" style=" margin: 0; padding: 0; border: 0;">
    </a><br>
    Share it via twitter: 
    <a href="http://twitter.com/share?url=<%= CGI::escape(ref_url) %>&text=<%= CGI::escape(ApplicationHelper::twitter_message) %>" style="outline: 0; border: 0;text-decoration:none;" target="_blank">
        <img src="<%= $HOST %><%= asset_path "refer/twit.png"%>" alt="Share on Twitter" style="margin: 0; padding: 0; border: 0;">
    </a>
    <br>
    <br>
    <a href=<%= $HOST %>><%= $HOST %></a>
</div>